
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

  html {
    font-family: 'Fjalla One', sans-serif;
  }

  body {
    margin: 0;
  }

  h1, p {
    margin-top: 0;
    margin-bottom: 0;
  }


  button {
    border: none;
    font-family: inherit;
  }